/* obecne styly */
body {
    color: #3a4045;
    font-family: 'Lora', serif;
}

.main-content {
    padding: 0 500px;
}

section {
    padding: 10px;
}

/* hlavička */
header {
    background-color: #b9406f;
    color: white;
    text-align: center;
    border-radius: 0 0 15px 15px;
    padding: 0px;
    margin: 0px;
    overflow: auto;
}


header img {
    width: 200px;
    border-radius: 50%;
    padding: 15px;
}

/* menu */
.menu {
    list-style-type: none;
    background-color: #c9c0c7;
    border-radius: 10px;
    text-align: center;
    padding: 0px;
    margin: 0px;
}

.menu li {
    display: inline-block;
    padding: 20px
}

.menu li a {
    text-decoration: none;
    color: #3a4045;
}

.menu li:hover {
    background-color: #3a4045;
    border-radius: 10px;
}

.menu li:hover a {
    color: white;
}

/* hlavni sekce */
.kontakt ul{
   list-style-type: none; 
}

i {
    min-width: 25px;
}

.kontakt ul li {
    padding: 5px 0px;
}

.kontakt ul li a {
    color: #3a4045;
}

.o-mne, .vzdelani, .zkusenosti {
    border-bottom: 3px solid #9a8c98;
   
}

.nazevSkoly {
    text-decoration: underline;
}

.dobaTrvani {
    font-style: italic;
    font-size: 13px;
}

table, tr, td, th {
    border-bottom: 1px solid #3a4045;
    border-collapse: collapse;
    padding: 10px 20px;
    text-align: center;
}

/* zápatí */
footer {
    color: white;
    padding: 20px;
    text-align: center;
    background-color: #b9406f;
    border-top: 10px solid #c9c0c7;
}




